@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');


:root {
    --line-border-fill: rgba(0, 0, 255, 0.644);
    --line-border-empty: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(186, 1, 186);
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    min-width: 400px; 
}

h1 {
    font-family: 'Send Flowers', cursive;
    position: absolute;
    padding-bottom: 500px;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: rgba(255, 255, 255, 0.826);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    font-size: 12px;
    color: rgb(0, 0, 0);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: rgb(255, 0, 0);
    font-size: 50px;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;
    font-family: inherit;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: rgb(0, 0, 0);
}

.btn.disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}