@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(144, 14, 144, 0.874);
    font-family: 'Send Flowers', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    min-width: 100px; 
}

h1 {
    padding: 10px 0;
    margin-bottom: 10px;
}

